/* .wrap {
    padding: 10px;
    padding-left: 300px;
    justify-content: space-around;
    top: 0;
    
}
.wrap ul{
    display: flex;
    padding: 2px;
    height: 50px;
    text-decoration: none;
    justify-content: space-around;
} */